header {
  background: #1f1f1f;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 3px solid #e03c31;
}

main {
  max-width: 1100px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

@media (max-width: 900px) {
  main {
    flex-direction: column;
  }
}